<div class="opciones">
    <div class="p-grid p-justify-center card-cabecero">Registro de entidad</div>
    <br>
    <div class="p-grid p-justify-center">
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Tipo documento</span>
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
                <div class="p-col-2">
                    <span class="p-tag etiquetas2">Tipo entidad</span>
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Tipo documento</span>
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
                <div class="p-col-2">
                    <span class="p-tag etiquetas2">Contraseña</span>
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Razon Social</span>
                </div>
                <div class="p-col-10">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Direccion</span>
                </div>
                <div class="p-col-10">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-4">
                    <span class="p-tag etiquetas">Departamento</span>
                </div>
                <div class="p-col-4">
                    <span class="p-tag etiquetas">Provincia</span>
                </div>
                <div class="p-col-4">
                    <span class="p-tag etiquetas">Distrito</span>
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Datos Contacto</span>
                </div>
                <div class="p-col-10">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Telefono</span>
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
                <div class="p-col-4">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid">
                <div class="p-col-2">
                    <span class="p-tag etiquetas">Correo</span>
                </div>
                <div class="p-col-8">
                    <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>