<div class="p-grid p-justify-center fondo">
    <div class="p-col-12 p-md-8 p-lg-6">
        <div class="formulario">
            <div class="p-col-12 p-sm-12 p-md-8 p-lg-12 titulo">
                Compara Prestamos Personales
            </div>
            <p-card>
                <form [formGroup]="form">
                    <div class="p-grid p-justify-center">
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <div class="p-grid p-justify-center textos">Monedas: </div>
                            <br>
                            <div class="p-grid p-justify-center radio">
                                <div class="p-col-6 p-sm-6 p-md-6 p-lg-6">
                                    <input class="radioButton" id="soles" type="radio" name="tipoMoneda" value="5" formControlName="tipoMoneda" />
                                    <label class="etiqueta" for="soles"> &nbsp;Soles</label>
                                </div>
                                <div class="p-col-6 p-sm-6 p-md-6 p-lg-6">
                                    <input class="radioButton" type="radio" id="dolar" name="tipoMoneda" value="6" formControlName="tipoMoneda" />
                                    <label class="etiqueta" for="dolar"> &nbsp;Dolares</label>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <p class="textos">Monto: </p>
                            <p class="valores">{{form.value.monto}}</p>
                            <p-slider [min]="1000" [max]="100000" [step]="1000" formControlName="monto" (onChange)="activateAnimation()"></p-slider>
                        </div>
                    </div>
                    <div class="p-grid p-justify-center">
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6 plazo">
                            <p class="textos">Plazo: </p>
                            <p class="valores">{{form.value.plazo}} Meses</p>
                            <p-slider [min]="3" [max]="60" formControlName="plazo" (onChange)="activateAnimation()">
                            </p-slider>
                            &nbsp;
                        </div>
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <p class="textos ubicacion">Ubicacion: </p>
                            <p-dropdown [options]="departamentos" [style]="{'width':'100%','border-radius':'30rem','border-color':'#4D97F3'}" formControlName="departamento"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-grid p-justify-center">
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <p class="textos">Ingresos: </p>
                            <p class="valores">{{form.value.ingreso}}</p>
                            <p-slider [min]="500" [max]="20000" [step]="100" formControlName="ingreso" (onChange)="activateAnimation()"></p-slider>
                        </div>
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <div class="textos filtros">Solo bancos: </div>
                            <div class="p-grid p-justify-center radio">
                                <div class="p-col-6 p-sm-6 p-md-6 p-lg-6">
                                    <input class="radioButton" id="si" type="radio" name="banco" value="8" formControlName="banco" />
                                    <label class="etiqueta" for="si"> &nbsp;Si</label>
                                </div>
                                <div class="p-col-6 p-sm-6 p-md-6 p-lg-6">
                                    <input class="radioButton" id="no" type="radio" name="banco" value="9" formControlName="banco" />
                                    <label class="etiqueta" for="no"> &nbsp;No</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="p-grid p-justify-center">
                        <div class="p-col-10 p-sm-6 p-md-6 p-lg-6">
                            <div class="p-grid">
                                <button pButton type="button" (click)="filtrar()" label="Comparar" class="p-button-raised p-button-danger p-button-rounded buton-compara"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>