<header class="header">
    <a href="/" class="logo active">Compara</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
        <li><a routerLink="/deposito-plazo/result">Deposito</a></li>
        <li><a routerLink="/prestamo/result">Prestamo</a></li>
        <li><a routerLink="/">Tarjetas</a></li>
        <li><a routerLink="/">Seguros</a></li>
    </ul>
</header>
<div class="cuerpo">
    <router-outlet></router-outlet>
</div>